@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$primaryColor: #6c63ff;
$secondaryColor: #ffffff;
$backgroundDark: #2a2a2a;
$backgroundLight: rgba(255, 255, 255, 0.1);

body {
    background-color: rgb(24, 24, 24);
}

.form {
  font-family: 'Roboto', sans-serif;
  background-color: $backgroundDark;
  padding: 50px 30px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: $secondaryColor;

  h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    color: $secondaryColor;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .form-error {
    color: #ff3b30;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .input-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form-label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .input {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      background-color: $backgroundLight;
      color: $secondaryColor;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:focus {
        background-color: lighten($backgroundLight, 10%);
        outline: none;
      }
    }

    .error-input {
      background-color: #e19b9b;
    }

    .error-message {
      color: #ff3b30;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $primaryColor;
    color: $secondaryColor;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primaryColor, 10%);
    }
  }

  .negative-result {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: #ff3b30;
  }

  .progress-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .circular-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .progress-bar-label {
      font-size: 20px;
      font-weight: 500;
      color: $secondaryColor;
      margin: 15px 0 45px;
    }

    .days-left-text {
      text-align: center;
      margin: 0, 0, 10px;

      .days-left-number {
        font-size: 56px;
        font-weight: 500;
        color: $secondaryColor;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .days-left-label {
      font-size: 20px;
      color: $secondaryColor;
      margin-top: 0;
    }
  }
}

.success-result {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color: $secondaryColor;

  .word-success {
    color: rgb(1, 189, 1);
    font-weight: 500;
    font-size: 25px;
  }

  .text-hours {
    color: rgb(1, 189, 1);
    font-weight: 500;
    font-size: 20px;
  }
}

.calculate-again-button {
  display: block;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  color: $primaryColor;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: darken($primaryColor, 10%);
  }
}
}